#parent-controls {
  padding: 2px;
  display: flex;
  align-items: center;
  background-color: #373737;
  border-radius: 5px; }

#sequencer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb532;
  border: 1px solid black;
  width: 27.33px;
  height: 27.33px;
  margin: 0px 2px 0px 2px; }
  #sequencer-info i {
    color: black; }

#sequencer-bpm {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px; }
  #sequencer-bpm span {
    margin: 0px 4px 0px 4px; }

#sequencer-time-signature {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px; }
  #sequencer-time-signature span {
    margin: 0px 4px 0px 4px; }

#volume-container {
  display: flex;
  margin: 2px;
  padding: 5px;
  align-items: center; }
  #volume-container * {
    height: fit-content; }

#measure-container {
  display: flex;
  margin: 2px;
  padding: 5px;
  align-items: center; }
  #measure-container * {
    height: fit-content; }

#upload-container {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 5px; }
  #upload-container div {
    display: flex; }
  #upload-container #upload-checkboxes {
    flex-direction: column; }
    #upload-container #upload-checkboxes div {
      align-items: center; }
  #upload-container button {
    background-color: #ffb532;
    border: 1px solid black;
    padding: 5px;
    width: fit-content;
    height: fit-content; }
    #upload-container button i {
      color: black; }

#child-controls-container {
  margin-top: 4px;
  display: flex; }
  #child-controls-container * {
    align-items: center; }

.child-controls {
  padding: 2px;
  background-color: #373737;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 5px; }
  .child-controls div {
    display: flex;
    margin: 2px; }
  .child-controls .sequencer-type {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px; }
  .child-controls .controls-button-container {
    display: flex;
    justify-content: space-between;
    padding: 2px; }
  .child-controls .controls-sliders {
    flex-direction: column;
    justify-content: center; }
    .child-controls .controls-sliders div {
      justify-content: space-between;
      padding: 5px; }

#melody-container {
  display: none; }

#keyboard-container {
  display: none; }

.table-container {
  border-radius: 5px;
  padding: 5px;
  /* some weird shenanigans with fit-content not working in FF */
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  background-color: #373737; }

.sequencer-grid {
  width: fit-content;
  border-collapse: collapse; }

.sequencer-row {
  display: flex;
  align-items: center; }

.sequencer-row > td:nth-last-child(2) {
  border-right: 1px solid black; }

div[class^="grid-"] {
  width: 15px;
  height: 10px;
  background-color: grey;
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black; }

div[class^="sequencer-row-clear-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border: none !important;
  background-color: #ffb532;
  -moz-box-shadow: inset 0 0 1px black;
  -webkit-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black; }
  div[class^="sequencer-row-clear-"] i {
    width: fit-content;
    height: fit-content;
    font-size: 8px;
    color: black; }

div[class^="inner-"] {
  width: 3px;
  height: 100%;
  float: right;
  cursor: e-resize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#keyboard-container {
  background-color: #555555;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: auto; }

#keyboard {
  display: table;
  table-layout: fixed;
  width: 533.16px;
  height: 96px; }

#keyboard div {
  display: table-cell;
  height: 96px; }

#key0 {
  border-bottom-left-radius: 5px; }

#key23 {
  border-bottom-right-radius: 5px; }

.key {
  /*White key styling*/
  color: #b4b4b4;
  position: relative;
  background: #fff;
  /*Default grayed-out look of the key*/
  z-index: 4;
  box-shadow: .5px 2px 5px 0px #585858; }

.key span {
  position: absolute;
  bottom: 0;
  margin-left: 10.5px;
  margin-bottom: 5px; }

.keyDown {
  /*White key styling*/
  color: #b4b4b4;
  position: relative;
  background: #fff;
  /*Default grayed-out look of the key*/
  z-index: 4;
  box-shadow: .5px 2px 5px 0px #585858;
  box-shadow: inset 0 0px 10px 0px #585858; }

.keyDown span {
  position: absolute;
  bottom: 0;
  margin-left: 10.5px;
  margin-bottom: 5px; }

.innerKey {
  display: table-cell;
  height: 100px;
  width: 0px;
  z-index: 5; }

.blackkey {
  color: #666666;
  position: absolute;
  /*Black key styling*/
  background: #000;
  width: 25px;
  height: 57px !important;
  /*Default grayed-out look of the key*/
  z-index: 6;
  margin-left: -13px;
  box-shadow: inset 0px -3px 7px 2px #878787, 1px 1px 2px 0px #585858; }

.blackkey span {
  position: absolute;
  bottom: 0;
  margin-left: 8px;
  margin-bottom: 5px; }

.blackkeyDown {
  color: #666666;
  position: absolute;
  /*Black key styling*/
  background: #000;
  width: 25px;
  height: 57px !important;
  /*Default grayed-out look of the key*/
  z-index: 6;
  margin-left: -13px;
  box-shadow: inset 0px -3px 7px 1px #878787, 0px 0px 1px 0px #585858; }

.blackkeyDown span {
  position: absolute;
  bottom: 0;
  margin-left: 8px;
  margin-bottom: 5px; }

#synth-controls {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 4px;
  padding: 2px;
  background-color: #373737;
  border-radius: 5px; }
  #synth-controls button {
    background: none;
    color: black;
    background-color: #ffb532;
    border: 1px solid black;
    padding: 2px;
    font: inherit;
    cursor: pointer; }

* {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }

i {
  color: white; }

.button-highlight {
  background-color: #ffb532;
  color: black;
  border: 1px solid black; }
  .button-highlight i {
    color: black; }

.menu-highlight {
  background-color: #282828; }

button {
  background-color: Transparent;
  border: none; }

#sequencers {
  display: block;
  background-color: #555555;
  border-radius: 5px;
  /* some weird shenanigans with fit-content not working in FF */
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  padding: 4px; }

/* ugh range styling */
input[type=range] {
  background-color: rgba(0, 0, 0, 0);
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 50px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #959595;
  border-radius: 25px;
  border: 1px solid #000101; }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 15px;
  width: 8px;
  background: #ffb532;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  border: 1px solid black; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #959595; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #959595;
  border-radius: 25px;
  border: 0px solid #000101; }

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  height: 10px;
  width: 4px;
  border-radius: 7px;
  background: #ffb532;
  cursor: pointer;
  border: 1px solid black; }

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #959595;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-fill-upper {
  background: #959595;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000; }

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid black;
  height: 10px;
  width: 4px;
  border-radius: 7px;
  background: #ffb532;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #959595; }

input[type=range]:focus::-ms-fill-upper {
  background: #959595; }

input[type=number] {
  font-size: 6px;
  margin-top: 15px;
  width: 15px;
  -moz-appearance: textfield;
  appearance: textfield;
  color: #ffb532;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-align: center; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }
