#parent-controls {
  padding: 5px;
  display: flex; }

#child-controls-container {
  display: flex; }

.child-control {
  padding: 5px; }

.sequencer-row {
  display: flex; }
  .sequencer-row div[class^="beat-"] {
    width: 20px;
    height: 10px;
    background-color: grey;
    margin: 1px; }

body {
  color: white; }

i {
  color: white; }

.menu-text {
  background-color: #282828; }

button {
  background-color: Transparent;
  border: none; }

#sequencers {
  background-color: #373737;
  border-radius: 5px;
  width: fit-content; }
