@import './components/colors';
@import './components/masterControls';
@import './components/childControls';
@import './components/grid';

body{
  color:$primary-font-color;
}
i{
  color:$primary-font-color;
}
.menu-text{
  background-color:$menu-text-bg-color;
}
button{
  background-color: Transparent;
  border:none;
}
#sequencers{
  background-color:$primary-bg-color;
  border-radius: 5px;
  width:fit-content;
}