$primary-bg-color:rgb(85,85,85);
$secondary-bg-color: rgb(55,55,55);
$primary-font-color: white;
$menu-text-bg-color: rgb(40, 40, 40);
$slider-bg-color: rgb(149, 149, 149);
$slider-select-color: rgb(255,181,50);
$slider-select-border-color: black;
$upload-bg-color: rgb(255,181,50);
$upload-button-color: black;
$upload-border-color: black;
$grid-unit-bg-color: grey;
$grid-unit-border-color: rgb(107, 107, 107);
$row-clear-bg-color: rgb(255,181,50);
$row-clear-color: black;
$row-clear-border-color: black;
$info-bg-color:rgb(255,181,50);
$info-color:black;
$info-border-color:black;
$piano-button-bg-color:rgb(255,181,50);
$piano-button-color: black;
$piano-button-border-color: black;
$button-highlight-color:black;
$button-highlight-bg-color:rgb(255,181,50);
$button-highlight-border-color:black
